
.header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shadow {
    box-shadow: inset 0px -1px 0px #e6e6e6;
    margin-bottom: 29px;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-line li:hover {
    text-decoration: underline;
}

.header-line img {
    padding-right: 60px;
}

.search-koshik-sing-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

.koshik {
    display: block;
    width: 33px;
    height: 15px;
    background: url(../img/koshik.png)center / cover;
}

.koshik:hover {
    background: url(../img/koshik-hover.png) center / cover;
}

.header-line ul {
    display: flex;
    column-gap: 54px;
    text-decoration: none;
    position: relative;
}

.header-line a {
    text-decoration: none;
    font-size: 15px;
    color: #262626;
    font-family: "Segoe UI";
    text-align: right;
}

.header-sing-in {
    font-size: 15px;
    line-height: 30px;
    color: #262626;
    font-family: "Segoe UI";
    text-align: right;
    text-decoration: none;
}

.header-sing-in:hover {
    text-decoration: underline;
}

.header-line li:last-child {
    position: relative;
    padding-right: 25px;
}

.header-line li:last-child:before {
    display: block;
    content: '';
    width: 10px;
    height: 6px;
    background: url(../img/arrow.png);
    position: absolute;
    top: 7px;
    right: 0;
}

p.search-window {
    display: block;
    border: 1px solid #999999;
    padding: 12px 16px;
    box-sizing: border-box;
    opacity: 0.702;
    font-size: 15px;
    color: #262626;
    font-family: "Segoe UI";
    text-align: right;
    margin: 0;
    max-width: 265px;
    width: 100%;
}

.header-image {
    background: url(../img/header-image.png) center / cover no-repeat;
    padding: 190px 70px 170px;
    box-sizing: border-box;
    position: relative;
}

.header-image h1 {
    font-size: 46px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Segoe UI";
    margin: 0;
    margin-bottom: 22px;
}

.header-image-max-width {
    max-width: 400px;
    width: 100%;
}

.header-image-max-width p+p {
    max-width: 230px;
    width: 100%;
}

.one {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Segoe UI";
    margin-bottom: 29px;
}

.image-button {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    font-family: "Segoe UI";
    border: solid #fff 2px;
    background-color: #fff;
    padding: 12px 25px;
    position: relative;
    transition: 0.3s;
}

.image-button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.image-button:hover:before {
    background: url(../img/arr-right-white-hover.png);
}

.image-button::before {
    display: block;
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    background: url(../img/arr-right.png);
    top: 17px;
    right: 25px;

}

.circle1 {
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
}

.circle2 {
    display: block;
    width: 8px;
    height: 8px;
    border: solid #fff 1px;
    border-radius: 50%;
    box-sizing: border-box;
}

.circles {
    display: flex;
    column-gap: 7px;
    position: absolute;
    bottom: 20px;
    left: 588px;
}

.arrow1,
.arrow2 {
    opacity: 0.702;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #131313;
    box-sizing: border-box;
    position: relative;
    transition: 0.3s;
}

.arrow1:hover,.arrow2:hover {
    opacity: 1;
    cursor: pointer;
}

.arrow1:after {
    display: block;
    content: '';
    position: absolute;
    width: 8px;
    height: 14px;
    background: url(../img/arr-left.png);
    top: 14px;
    left: 16px;
}

.arrow2:after {
    display: block;
    content: '';
    position: absolute;
    width: 8px;
    height: 14px;
    background: url(../img/arr-right-white.png);
    top: 14px;
    left: 17px;
}

.button-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
}